* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(img2.jpeg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.container {
    width: 420px;
    background: transparent;
    color: white;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px;

}

.container .h1 {
    color: white;
    text-align: center;
    font-size: 36px;
}

.container .form .name {
    width: 100%;
    height: 40px;
    background-color: blanchedalmond;
    margin: 30px 0;
    background: transparent;
}

.container .form .name input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(77, 33, 33, 0.2);
    border-radius: 40px;
    padding-left: 22px;

}

.container,
input::placeholder {
    color: white;
    font-weight: 600;
}

.container.checkbox,
form {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.checkbox,
form,
a {
    text-decoration: none;
    color: white;
}

.hw:hover {
    text-decoration: underline;
    cursor: pointer;
}
.button{
    box-shadow: 0 0 10px;
    backdrop-filter: blur(5px);
    
}

.button,
button {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 40px;
}

.button,
button:hover {
    background-color: red;
    box-shadow: ;
}

.footer {
    display: flex;
    margin: 15px 0;
    justify-content: center;

}


.anchar:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container:hover {
    scale: 1.2;
}